@model Card
<form class="form-control" method="post" enctype="multipart/form-data">
    <div>
        <label >Image</label><br />
        <input class="form-control" asp-for="Photo" accept="image/*" /><br />
        <span class="text-danger" asp-validation-for="Photo"></span>
    </div>
    <div>
        <label class="mb-3">Image</label>
        <input class="form-control" asp-for="Image" /><br/>
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary"> Create Card</button>
    </div>
</form>